# Node.js modülleri
node_modules/

# Derlenen JavaScript dosyaları
dist/
build/

# Ortam değişkenleri
.env

# TypeScript dosyaları için yapılandırmalar
*.tsbuildinfo

# Log dosyaları
*.log

# Jest testlerin oluşturduğu dosyalar
coverage/

# MacOS özel dosyaları
.DS_Store
